USE [master]
GO
/****** Object:  Database [bank]    Script Date: 02-08-2025 10:11:23 ******/
CREATE DATABASE Bank
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bank]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 02-08-2025 10:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountNo] [int] NOT NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](30) NULL,
	[Amount] [numeric](9, 2) NULL,
	[AccountType] [varchar](10) NULL,
	[CheqFacil] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trans]    Script Date: 02-08-2025 10:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trans](
	[TranId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNo] [int] NULL,
	[TranAmount] [numeric](9, 2) NULL,
	[TranType] [varchar](5) NULL,
	[TranDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TranId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-08-2025 10:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[Passcode] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountNo], [FirstName], [LastName], [City], [State], [Amount], [AccountType], [CheqFacil]) VALUES (1, N'Venkata', N'Gayathri', N'Hyderabad', N'TS', CAST(108222.00 AS Numeric(9, 2)), N'Savings', N'Yes')
INSERT [dbo].[Account] ([AccountNo], [FirstName], [LastName], [City], [State], [Amount], [AccountType], [CheqFacil]) VALUES (2, N'Raj', N'Kishore', N'Hyd', N'TS', CAST(99222.00 AS Numeric(9, 2)), N'Savings', N'Yes')
INSERT [dbo].[Account] ([AccountNo], [FirstName], [LastName], [City], [State], [Amount], [AccountType], [CheqFacil]) VALUES (3, N'Ranjan', N'Kishore', N'Hyd', N'TS', CAST(99222.00 AS Numeric(9, 2)), N'Savings', N'Yes')
GO
SET IDENTITY_INSERT [dbo].[Trans] ON 

INSERT [dbo].[Trans] ([TranId], [AccountNo], [TranAmount], [TranType], [TranDate]) VALUES (1, 1, CAST(2000.00 AS Numeric(9, 2)), N'C', CAST(N'2025-03-05' AS Date))
INSERT [dbo].[Trans] ([TranId], [AccountNo], [TranAmount], [TranType], [TranDate]) VALUES (2, 1, CAST(2000.00 AS Numeric(9, 2)), N'C', CAST(N'2025-03-05' AS Date))
INSERT [dbo].[Trans] ([TranId], [AccountNo], [TranAmount], [TranType], [TranDate]) VALUES (3, 1, CAST(2500.00 AS Numeric(9, 2)), N'C', CAST(N'2025-03-05' AS Date))
SET IDENTITY_INSERT [dbo].[Trans] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Passcode]) VALUES (1, N'Gayathri', N'Krishna')
INSERT [dbo].[Users] ([Id], [Username], [Passcode]) VALUES (2, N'Isha', N'Ghosh')
INSERT [dbo].[Users] ([Id], [Username], [Passcode]) VALUES (3, N'Laksha', N'Katara')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E1398159]    Script Date: 02-08-2025 10:11:24 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Trans] ADD  DEFAULT (getdate()) FOR [TranDate]
GO
USE [master]
GO
